/*月份选择器*/
*{
	margin: 0px;
	padding: 0px;
}
ul li{
	list-style: none;
}
.mc-quarter-picker-box{

	position: absolute;
	width: 200px;
	border: 1px solid #CCCCCC;
	filter: drop-shadow( 0px 0px 5px rgba(156,156,156,0.5));
	font-size: 16px;
	box-sizing: border-box;
	background-color: #FFFFFF;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#DCDCDC', Direction=2, Strength=5);
	color: #666;
}

.mc-year-picker{
	width: 100%;
	height: 39px;
	overflow: hidden;
	text-align: center;
	line-height: 39px;
	border-bottom: 1px solid #e2e2e2;
	position: relative;
	background:#009688;
	color:#fff;
}
.mc-prev-year,.mc-next-year{
	top:10px;
	width: 20px;
	height: 20px;
	position: absolute;
	cursor: pointer;
}
.mc-prev-year{
	left: 10px;
	background: url(left.png) no-repeat;
}
.mc-next-year{
	background: url(right.png) no-repeat;
	right: 10px;
}

.mc-quarter-picker{
	overflow: hidden;
}
.mc-quarter-picker li{
	font-size: 14px;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #eee;
	text-align: center;
	line-height:40px;
	cursor: pointer;
}
.mc-quarter-picker li:hover{
	background:#009688;
	color: #fff; 
}
.mc-quarter-picker-clear{
	width: 100px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color:#fff;
	border-radius: 5px;
	text-align: center;
	margin:5px auto;
	cursor: pointer;
	background: #ffb632;

}